body {
    background-color: cadetblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.chips-container {
    text-align: center;
}

.chips-input {
    display: flex;
    justify-content: center;
    margin: auto;
}

.input-tag {
    padding: 10px;
    border: 1px solid;
    border-radius: 2px;
    width: 250px;
}

.input-tag:focus {
    outline: none;
}
