body {
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
}

.heading-container {
    justify-content: center;
    text-align: center;
}

.accordion {
    text-align: left;
}

.accordion-section {
    justify-items: center;
    margin: auto;
    text-align: center;
}

.accordion-title {
    width: 30%;
    padding: 12px;
    background-color: #f1f1f1;
    text-align: left;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.accordion-title:hover {
    background-color: #e0e0e0;
}

.accordion-content {
    width: 28.5%;
    padding: 12px;
    margin-bottom: 1px;
    border-radius: 5px;
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
    font-size: 14px;
}
